{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block css %} {% endblock %}
    {% block externalResource %}{% endblock %}
</head>
<body>
    
    
    <div class="contenedor">
        <nav class="nav-bar">
            <ul class="nav-list">
                <li id="user-nav">{% block user %}{% endblock %}</li>
                <a href="{% url 'blog:home' usuario.id %}"><li>Leer</li></a> 
                <a href="{% url 'blog:postRedirect' usuario.id %}"><li>Post</li></a> 
            </ul>
        </nav>

        {% block content %}

        {% endblock %}

        <footer class="footer">
            <h4>Unete al mundo del post</h4>
        </footer>
    </div>    
    {% block js %} {% endblock %}
</body>
</html>